@model Schedulator.Models.ScheduleGenerator


@foreach( List<Schedulator.Models.Schedule> schedule in Model.Schedules )
{
    <table border="0" align="center" class="genScheduleRslt">
        <tbody>
            <tr>
                <td valign="top"> @GenScheduleLegend(schedule) </td>

                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">@Html.Partial("_Schedule", schedule.FirstOrDefault())</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                @if (schedule.Count() > 1){
                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">
                                    @Html.Partial("_Schedule", schedule.LastOrDefault())
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }
            </tr>
        </tbody>
    </table>
    <hr />
}


@helper GenScheduleLegend(List<Schedulator.Models.Schedule>  schedule){
    <div class="schedLegend">
            @{
                //[Extract enrolments]
                foreach (Schedulator.Models.Enrollment enrollment in schedule.FirstOrDefault().Enrollments) {
                    @RenderSchedules(enrollment)
                }


                if (schedule.Count() > 1) {
                    foreach (Schedulator.Models.Enrollment enrollment in schedule.LastOrDefault().Enrollments) {
                        @RenderSchedules(enrollment)
                    }
                }
            }
    </div>
}

@helper RenderSchedules(Schedulator.Models.Enrollment enrollment){
    //Course header
    <div class="courseHead">
        @enrollment.Course.CourseLetters @enrollment.Course.CourseNumber -- @enrollment.Course.Title
    </div>

    //Course Sections
    if (! enrollment.Section.SectionMaster) {
        @RenderSections(@enrollment.Section)
    } else {
                        
        foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSections) {
            @RenderSections(sectionToShow)
        }
    }
}

@helper RenderSections(Schedulator.Models.Section sectionToShow) {
    <ul>
        <li>@sectionToShow.Lecture.LectureLetter</li>
        <li>@sectionToShow.Lecture.Teacher</li>
        <li>@sectionToShow.Lecture.ClassRoomNumber</li>
    </ul>
}