@model Schedulator.Models.ScheduleGenerator


@*@foreach( List<Schedulator.Models.Schedule> schedule in Model.Schedules )
{
    <table border="0" align="center">
        <tbody>
            <tr>
                <td valign="top">
                    <table border="0" cellspacing="0" cellpadding="2" class="legend">
                        <tbody>

                            @{
                                    foreach (Schedulator.Models.Enrollment enrollment in schedule.FirstOrDefault().Enrollments)
                                    {
                            @enrollment.Course.CourseLetters;
                            @enrollment.Course.CourseNumber;
                            @enrollment.Course.Title;
                                        if (enrollment.Section.SectionMaster)
                                        {
                                            foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSections)
                                            {
                            @sectionToShow.Lecture.LectureLetter;
                            <br />
                            @sectionToShow.Lecture.Teacher;
                            <br />
                            @sectionToShow.Lecture.ClassRoomNumber;
                                            }

                                       }
                                       else
                                        {
                            @enrollment.Section.Lecture.LectureLetter
                            <br />
                            @enrollment.Section.Lecture.Teacher
                            <br />
                            @enrollment.Section.Lecture.ClassRoomNumber
                                        }
                                    }
                                    if (schedule.Count() > 1)
                                    {
                                        foreach (Schedulator.Models.Enrollment enrollment in schedule.LastOrDefault().Enrollments)
                                        {
                            @enrollment.Course.CourseLetters;
                            @enrollment.Course.CourseNumber;
                            @enrollment.Course.Title;
                                            if (enrollment.Section.SectionMaster)
                                            {
                                                foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSections)
                                                {
                            @sectionToShow.Lecture.LectureLetter;
                            <br />
                            @sectionToShow.Lecture.Teacher;
                            <br />
                            @sectionToShow.Lecture.ClassRoomNumber;
                                                }

                                           }
                                           else
                                            {
                            @enrollment.Section.Lecture.LectureLetter
                            <br />
                            @enrollment.Section.Lecture.Teacher
                            <br />
                            @enrollment.Section.Lecture.ClassRoomNumber
                                            }
                                        }
                                    }
                            }

                    </table>
                </td>
                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">
                                    @Html.Partial("_Schedule", schedule.FirstOrDefault())
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                @if (schedule.Count() > 1)
                {
                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">
                                    @Html.Partial("_Schedule", schedule.LastOrDefault())
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }
            </tr>
        </tbody>
    </table>
}*@
hi