@model Schedulator.Models.ScheduleGenerator
@{ViewBag.Title = "Schedule Generator";}
@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


@using (Html.BeginForm()){

    <div class="form-horizontal">
        <!-- Title -->
        <h4>Schedule Maker</h4>
        <hr />

        <!-- Options -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!-- Semesters -->
                <div class="steps">
                    <p>Step 1: Select a semester</p>
                    <ul>
                        <li><input type="radio" name="semester" /> Summer 2015 </li>
                        <li><input type="radio" name="semester" /> Fall 2015</li>
                        <li><input type="radio" name="semester" /> Winter 2016</li>
                    </ul>
                </div>

                <!-- Courses -->
                <div class="steps">
                    <p>Step 2: Select your courses</p>
                    <ul>
                        <li><span>Add a course: </span><input type="text" /></li>
                        <li><input type="button" value="Add" /></li>
                        <li><input type="button" value="Show Me Courses from Sequence" /></li>
                    </ul>
                </div>

                <!-- Preferences -->
                <div class="steps">
                    <p>Step 3: Select your preferences</p>
                    <ul id="schedPref">
                        <li><input type="checkbox" /> Most days-off</li>
                        <li><input type="checkbox" /> Morning class</li>
                        <li><input type="checkbox" /> Mid-day class</li>
                        <li><input type="checkbox" /> Night class</li>
                    </ul>
                </div>

                <input type="submit" value="Generate Schedule" class="btn btn-default" />
            </div><!--EO Options-->
        </div>
    </div>
}



@foreach( List<Schedulator.Models.Schedule> schedule in Model.Schedules )
{ 
    <table border="0" align="center">
        <tbody>
            <tr>
                <td valign="top">
                    <table border="0" cellspacing="0" cellpadding="2" class="legend">
                        <tbody>
                            
                               @{
                                    foreach (Schedulator.Models.Enrollment enrollment in schedule.FirstOrDefault().Enrollments)
                                    {
                                        @enrollment.Course.CourseLetters;
                                        @enrollment.Course.CourseNumber;
                                        @enrollment.Course.Title;
                                        if (enrollment.Section.SectionMaster)
                                        {
                                            foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSections)
                                            {
                                                @sectionToShow.Lecture.LectureLetter;<br />
                                                @sectionToShow.Lecture.Teacher;
                                                                                        <br />
                                                @sectionToShow.Lecture.ClassRoomNumber;
                                            }
                                                
                                       }
                                       else
                                        {
                                            @enrollment.Section.Lecture.LectureLetter
                                            <br />
                                            @enrollment.Section.Lecture.Teacher
                                            <br />
                                            @enrollment.Section.Lecture.ClassRoomNumber
                                        }
                                    }
                                    if (schedule.Count() > 1)
                                    { 
                                        foreach (Schedulator.Models.Enrollment enrollment in schedule.LastOrDefault().Enrollments)
                                        {
                                            @enrollment.Course.CourseLetters;
                                            @enrollment.Course.CourseNumber;
                                            @enrollment.Course.Title;
                                            if (enrollment.Section.SectionMaster)
                                            {
                                                foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSections)
                                                {
                                                    @sectionToShow.Lecture.LectureLetter;<br />
                                                    @sectionToShow.Lecture.Teacher;
                                                                                            <br />
                                                    @sectionToShow.Lecture.ClassRoomNumber;
                                                }
                                                
                                           }
                                           else
                                            {
                                                @enrollment.Section.Lecture.LectureLetter
                                                <br />
                                                @enrollment.Section.Lecture.Teacher
                                                <br />
                                                @enrollment.Section.Lecture.ClassRoomNumber
                                            }
                                        }
                                    }
                               }
                                        
                    </table>
                </td>
                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">
                                    @Html.Partial("_Schedule", schedule.FirstOrDefault())
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                @if (schedule.Count() > 1)
                {
                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">
                                    @Html.Partial("_Schedule", schedule.LastOrDefault())
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                }
            </tr>
        </tbody>
    </table>
}



