@model IEnumerable<Schedulator.Models.Course>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel-group" id="accordion">

@foreach (var item in Model)
{
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapse@(item.CourseID)">
                    @Html.DisplayFor(modelItem => item.CourseLetters) @Html.DisplayFor(modelItem => item.CourseNumber) @Html.DisplayFor(modelItem => item.Title)
                </a>
            </h4>
        </div>
        <div id="collapse@(item.CourseID)" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    Lectures:
                    @foreach (var item2 in item.Lectures)
                    {
                        if (item2.LectureLetter != null && item2.LectureLetter != "UgradNSched IE")
                        {
                            <tr>
                                <td>
                                    Lect @Html.DisplayFor(modelItem => item2.LectureLetter)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.StartTime) - @Html.DisplayFor(modelItem => item2.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.FirstDay) @Html.DisplayFor(modelItem => item2.SecondDay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.Teacher)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
}
</div>

