@model List<Schedulator.Models.Schedule>

@{
    ViewBag.Title = "Schedule Generator";
}
<div class="jumbotron">
    <h2>@Model.FirstOrDefault().Semester.Season @Model.FirstOrDefault().Semester.SemesterStart.ToString("yyyy") @(Model.FirstOrDefault().IsRegisteredSchedule ? "Registered" : "Saved") Schedule</h2>
    <h4> @Model.FirstOrDefault().Semester.SemesterStart.ToString("MMMM d, yyyy") to @Model.FirstOrDefault().Semester.SemesterEnd.ToString("MMMM d, yyyy")</h4>

    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Saved Schedules</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#">Fall 2014</a></li>
            <li><a tabindex="-1" href="#">Winter 2015</a></li>
            <li><a tabindex="-1" href="#">Summer One 2015</a></li>
            <li><a tabindex="-1" href="#">Summer Two 2015</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Registered Schedules</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#">Fall 2014</a></li>
            <li><a tabindex="-1" href="#">Winter 2015</a></li>
            <li><a tabindex="-1" href="#">Summer One 2015</a></li>
            <li><a tabindex="-1" href="#">Summer Two 2015</a></li>
        </ul>
    </div>
</div>
@Html.Partial("_Schedule", Model.FirstOrDefault())
@if (Model.Count() > 1)
{ 
    @Html.Partial("_Schedule", Model.LastOrDefault())
}


