@model Schedulator.Models.Schedule

@{
    ViewBag.Title = "Schedule Generator";
}
<div class="jumbotron">
        <h2>@Model.Semester.Season @Model.Semester.SemesterStart.ToString("yyyy") @(Model.IsRegisteredSchedule ? "Registered" : "Saved") Schedule</h2>
        <h4> @Model.Semester.SemesterStart.ToString("MMMM d, yyyy") to @Model.Semester.SemesterEnd.ToString("MMMM d, yyyy")</h4>         
</div>
    @Html.Partial("_Schedule", Model)


