@model List<Schedulator.Models.Schedule>

@using (Ajax.BeginForm("ManageSchedule", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ManageScheduleSuccess(data)" }, new { id = "manageScheduleForm" }))
{
    <div>
        <div>
            <input id="manageScheduleButton" data-toggle="#collapseButtons"  type="button" name="register" class="btn btn-primary" value="Manage Schedule">
        </div>
        <div id="collapseButtons" class="panel-collapse in">
            <div class="panel-body">
                <input id="addCoursesButton" type="button" name="addCourse" class="btn btn-primary" value="Add Courses">
                <input type="hidden" name="semester" value="@Model.FirstOrDefault().Semester.Season">
                <input id="submitType" type="hidden" name="submitType" value="">
                <input id="removeButton" type="button" class="btn btn-primary" value="Remove Selected">
                <input type="submit" name="register" class="btn btn-primary" value="Switch Sections">
                <input type="hidden" name="scheduleIds" value="@Model.FirstOrDefault().ScheduleId">
                @if (Model.Count() > 1)
                {
                    <input type="hidden" name="scheduleIds" value="@Model.LastOrDefault().ScheduleId">
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="collapseSchedule" class="panel-collapse in">
            <div class="panel-body">
                @Html.Partial("_AddCourseAutoCompletePartial")
                <br />
                <input type="submit" value="Generate Schedule"  class="btn btn-default pull-right" id="generateSchedule" />
            </div>
    </div>
    <div id="schedule">
        @Html.Partial("_ScheduleAndLegend", Model)
    </div><!-- EO #result -->

    <div class="collapse in">

    </div>

}
<hr />
<div id="generatedSchedules" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id ="generatedSchedulesContent" class="modal-content">
        </div>
    </div>
</div>
<script src="@Url.Content("/Scripts/student.schedule.js")" type="text/javascript"></script>