@model Schedulator.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h2>Details</h2>

        <h4>@Model.CourseLetters @Model.CourseNumber Lectures</h4>
        <hr />

    <table>
        <thead>
            <tr>
        <th>Lecture Section</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>First Day Of Week</th>
        <th>Second Day Of Week</th>
        <th>Semester Start Period</th>
        <th>Semester End Period</th>
        <th>Teacher</th>
        <th>Class Room</th>
        </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Lectures)
            {
                <tr>
                    <td>
                        @item.LectureLetter
                    </td>
                    <td>
                        @TimeSpan.FromMinutes(item.StartTime).ToString(@"hh\:mm")
                    </td>
                    <td>
                        @TimeSpan.FromMinutes(item.EndTime).ToString(@"hh\:mm")
                    </td>
                    <td>
                        @item.FirstDay
                    </td>
                    <td>
                        @item.SecondDay
                    </td>
                    <td>
                        @item.Semester.SemesterStart.ToShortDateString()
                    </td>
                    <td>
                        @item.Semester.SemesterEnd.ToShortDateString()
                    </td>
                    <td>
                        @item.Teacher
                    </td>
                    <td>
                        @item.ClassRoomNumber
                    </td>
                </tr>
            }


        </tbody>
    </table>

    <table id="table-format" data-url="data1.json" data-height="299">
    <thead>
        <tr>
            <th>Tutorial Section</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>First Day Of Week</th>
            <th>Second Day Of Week</th>
            <th>Class Room</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Lectures)
        {

            <tr>
                <td>
                    @foreach (var tut in item.Tutorials)
                    {
                        @tut.TutorialLetter
                        <br />
                    }
                </td>
                <td>
                    @foreach (var tut in item.Tutorials)
                    {
                        @TimeSpan.FromMinutes(tut.StartTime).ToString(@"hh\:mm")
                        <br />
                    }
                </td>
                <td>
                    @foreach (var tut in item.Tutorials)
                    {
                        @TimeSpan.FromMinutes(tut.EndTime).ToString(@"hh\:mm")
                        <br />
                    }
                </td>
                <td>
                    @foreach (var tut in item.Tutorials)
                    {
                        @tut.FirstDay
                        <br />
                    }
                </td>
                <td>
                    @foreach (var tut in item.Tutorials)
                    {
                        @tut.SecondDay
                        <br />
                    }
                </td>
                <td>
                    @foreach (var tut in item.Tutorials)
                    {
                        @tut.ClassRoomNumber
                        <br />
                    }
                </td>

            </tr>
        }


    </tbody>
</table>


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID })
</div>
<div>
    @Html.ActionLink("Back to All Courses", "Index")
</div>
<div>
    @Html.ActionLink("Go to Programs Management", "Index", "ProgramsManagement")
</div>    