@model IEnumerable<Schedulator.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Management</h2>

<p>
    @Html.ActionLink("Create Course", "Create")
</p>

   <!---- <div class="panel-group" id="accordion">-->

        @foreach (var item in Model)
        {
          
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a class="loadLecturesAndTutorial" value="@(item.CourseID)" data-parent="#accordion"
                               href="#collapse@(item.CourseID)">
                                @Html.DisplayFor(modelItem => item.CourseLetters) 
                                @Html.DisplayFor(modelItem => item.CourseNumber) 
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </h4>
                    </div>
                    <div id="collapse@(item.CourseID)" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                    </div>
                </div>
         
        }
   <!--- </div>-->



<script>
    $(document).ready()
    {
        $('.loadLecturesAndTutorial').click(function () {
            var collapseId = $(this).attr('href');
            if ($.trim($(collapseId).find('.panel-body').html()) == '') {
                $(collapseId).find('.panel-body').load("Courses/Course?courseId=" + $(this).attr('value'), function () {
                    $(collapseId).collapse();
                })
            }
            else
                $(collapseId).toggle('slow');
        });

    }
</script>
