@model Schedulator.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
<div class="jumbotron" id="homeHeader">
    <h1>Schedulator</h1>
</div>

<!-- SubMenu -->
<div id="subMenu">
    <ul>
        <li>
            <a href="">
                <div id="btnCalendar">
                    <img src="~/Content/img/calendar.png" />
                    <p>View Calendar</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div id="btnProgress">
                    <img src="~/Content/img/progress.png" />
                    <p>View Progression</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div id="btnTranscript">
                    <img src="~/Content/img/transcript.png" />
                    <p>View Transcript</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div id="btnSequence">
                    <img src="~/Content/img/sequence.png" />
                    <p>View Course Sequence</p>
                </div>
            </a>
        </li>
    </ul>
</div><!-- EO #subMenu -->


<!-- Personal info-->
<div id="optPerso" class="homeContent">
    <h2>Personal Information</h2>
    <div class="row">
        <div class="col-xs-4">
            <div class="userPicture"><img src="~/Content/img/user.png" /></div>
            <span>@Html.DisplayNameFor(model => model.FirstName):</span>
            <span>@Html.DisplayFor(modelItem => modelItem.FirstName)</span>
            <br />
            <span>@Html.DisplayNameFor(model => model.LastName):</span>
            <span>@Html.DisplayFor(modelItem => modelItem.LastName)</span>
        </div>

        <div class="col-xs-6" style="border-left:1px solid #eee">
            @{
                if (Model.Program != null) {
                    @Html.DisplayNameFor(model => model.Program) <span>Information:</span>
                    <ul>
                        <li>Program Name: @Html.DisplayFor(modelItem => modelItem.Program.ProgramName)</li>
                        <li>Program Option: @Html.DisplayFor(modelItem => modelItem.Program.ProgramOption)</li>
                        <li>Program Credits: @Html.DisplayFor(modelItem => modelItem.Program.CreditsRequirement)</li>
                    </ul>
                }
            }
        </div>
    </div>
</div>

<!--Academic -->
<div id="academicInfo" class="homeContent">
    <h2>Academics</h2>
    <ul class="list-group">
        @foreach (var schedules in Model.Schedules) {
            foreach (var enrollments in schedules.Enrollments) {
                <li class="list-group-item">
                    @Html.DisplayFor(modelItem => enrollments.Course.CourseLetters) @Html.DisplayFor(modelItem => enrollments.Course.CourseNumber)
                    @Html.DisplayFor(model => enrollments.Grade)
                </li>
            }
        }
    </ul>
</div>



