@model Schedulator.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
<div class="jumbotron">
    <h1>Schedulator</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p>
            @Html.DisplayNameFor(model => model.FirstName):
            
            @Html.DisplayFor(modelItem => modelItem.FirstName)
            <br />
            @Html.DisplayNameFor(model => model.LastName):
            @Html.DisplayFor(modelItem => modelItem.LastName)
        </p>

    </div>
    <div class="col-md-4">
        <h2>Academics</h2>
        <ul class="list-group">
            @foreach (var schedules in Model.Schedules)
            {
                foreach (var enrollements in schedules.Enrollments)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(modelItem => enrollements.Tutorial.Lecture.Course.CourseLetters) @Html.DisplayFor(modelItem => enrollements.Tutorial.Lecture.Course.CourseNumber) 
                        @Html.DisplayFor(model => enrollements.Grade)

                    </li>
                }

            }
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Other info</h2>
        <p>Stuff</p>
    </div>
</div>