<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schedulator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>1-800-Schedulator</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    @if (User.IsInRole("Student"))
                    {
                        <ul class="nav navbar-nav navbar-left">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                            <li>@Html.ActionLink("Schedule", "Index", "StudentSchedule")</li>
                            <li>@Html.ActionLink("Schedule Maker", "Index", "ScheduleGenerator")</li>
                        </ul>
                    }
                    else if (User.IsInRole("Program Director"))
                    {
                        <ul class="nav navbar-nav navbar-left">
                            <li>@Html.ActionLink("Course Management", "Index", "ProgramDirector")</li>
                            <li>@Html.ActionLink("Student Management", "Index", "ProgramDirector")</li>
                            <li>@Html.ActionLink("Program Management", "Index", "ProgramsManagement")</li>
                        </ul>
                    }
                    @Html.Partial("_LoginPartial")

                </div>
            </div><!--/.container-->

        </nav>
    </header>

    <div class="container body-content">
        <a href="@Url.Action("Index", "Home")"><img class="hidden-xs" src="http://i375.photobucket.com/albums/oo197/schedulator/Original_transparent_193x75_zpss1a4htsy.png" alt=""></a>
        <img class="visible-xs" src="http://i375.photobucket.com/albums/oo197/schedulator/Original_transparent_193x75_zpss1a4htsy.png" alt="">

        @RenderBody()
        <hr />


        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">               
            <p class="navbar-text">&copy; @DateTime.Now.Year - Schedulator</p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
