@model List<Schedulator.Models.Schedule>
<table border="0" align="center" class="genScheduleRslt">
    <tbody>
        <tr>
            <td valign="top"> @GenScheduleLegend(Model) </td>

            <td>
                <table border="0" cellpadding="3" cellspacing="0">
                    <tbody>
                        <tr><td align="center"></td></tr>
                        <tr>
                            <td valign="top">@Html.Partial("_Schedule", Model.FirstOrDefault())</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            @if (Model.Count() > 1)
            {
                <td>
                    <table border="0" cellpadding="3" cellspacing="0">
                        <tbody>
                            <tr><td align="center"></td></tr>
                            <tr>
                                <td valign="top">
                                    @Html.Partial("_Schedule", Model.LastOrDefault())
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            }
        </tr>
    </tbody>
</table>
@helper GenScheduleLegend(List<Schedulator.Models.Schedule> schedule)
{
    <div class="schedLegend">

        @{
            //[Extract enrolments]
            int radioButtonSectionGroup = 1;
            foreach (Schedulator.Models.Enrollment enrollment in schedule.FirstOrDefault().Enrollments)
            {
                @RenderSchedules(enrollment, radioButtonSectionGroup++)
            }


            if (schedule.Count() > 1)
            {
                foreach (Schedulator.Models.Enrollment enrollment in schedule.LastOrDefault().Enrollments)
                {
                    @RenderSchedules(enrollment, radioButtonSectionGroup++)
                }
            }
        }
    </div>
}

@helper RenderSchedules(Schedulator.Models.Enrollment enrollment, int radioButtonSectionGroup)
{
    //Course header
    var courseBlockColor = enrollment.Course.CourseLetters + enrollment.Course.CourseNumber;

    <div class="@courseBlockColor courseHeader">
        @enrollment.Course.CourseLetters @enrollment.Course.CourseNumber -- @enrollment.Course.Title
    </div>

    //Course Sections
    if (!enrollment.Section.SectionMaster || enrollment.Schedule.IsRegisteredSchedule)
    {
        @RenderSections(@enrollment.Section, "radioButtonSectionGroup" + radioButtonSectionGroup.ToString(), true)
    }
    else
    {
        if (!enrollment.Section.SectionMaster)
        {
            foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSectionMaster.OtherSimilarSections)
            {
                @RenderSections(sectionToShow, "radioButtonSectionGroup" + radioButtonSectionGroup.ToString(), false)
            }
        }
        else
        { 
            @RenderSections(enrollment.Section, "radioButtonSectionGroup" + radioButtonSectionGroup.ToString(), false)
            foreach (Schedulator.Models.Section sectionToShow in enrollment.Section.OtherSimilarSections)
            {
                @RenderSections(sectionToShow, "radioButtonSectionGroup" + radioButtonSectionGroup.ToString(), false)
            }
        }
    }
    <script>courseAltColor('@courseBlockColor');</script>
}

@helper RenderSections(Schedulator.Models.Section sectionToShow, string radioButtonGroup, bool hideRadioButton)
{
    <table sectionid="@sectionToShow.SectionId" style="width:325px;font-weight:600;">
        <tr>
            @if (!hideRadioButton)
            {
                <td rowspan="3" width="15px" style="background-color:indianred;">
                    <input checked="checked" id="radioButtonSectionGroup2" name="@radioButtonGroup" type="radio" value="@sectionToShow.SectionId">
                </td>
            }
            else
            {
                <td rowspan="3" width="15px" style="background-color:indianred;">
                    <input style="display:none" checked="checked" id="radioButtonSectionGroup2" name="@radioButtonGroup" type="radio" value="@sectionToShow.SectionId">
                </td>
            }
            <td width="60" style="padding-left:3px;">Lec @sectionToShow.Lecture.LectureLetter </td>
            <td class="instructorName">@sectionToShow.Lecture.Teacher.ToString().ToLower()</td>
            <td>@sectionToShow.Lecture.ClassRoomNumber</td>
        </tr>
        @if (sectionToShow.Tutorial != null)
        {
            <tr>
                <td style="padding-left:3px;">Tut @sectionToShow.Tutorial.TutorialLetter </td>
                <td></td>
                <td>@sectionToShow.Tutorial.ClassRoomNumber</td>
            </tr>
        }
        @if (sectionToShow.Lab != null)
        {
            <tr>
                <td style="padding-left:3px;">Lab @sectionToShow.Lab.LabLetter </td><td></td>
                <td>@sectionToShow.Lab.ClassRoomNumber</td>
            </tr>
        }
    </table>
    <br>
}