@model Schedulator.Models.Program


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Program Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            Program Option: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramOption)
        </dd>

        <dt>
            Credits Requirement: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditsRequirement)
        </dd>

    </dl>
</div>

<div>
    <table>
        <tr>    
            <th>Year 1 - Winter @Html.ActionLink("Add Course", "EditProgram", new { programId = Model.ProgramId, season = Schedulator.Models.Season.Fall, year = 1 })</th>     
        </tr>
        <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Credit</th>
        </tr>
        @{
        var Year = Model.CourseSequences.First().Year;
        var Season = Schedulator.Models.Season.Winter;
        }
       
        @foreach (var item in Model.CourseSequences)
        {
           
            if (item.Season != Season) 
            {
                Year = item.Year;
                Season = item.Season;
                var courses1 = Model.CourseSequences.Where(i => i.Year == Year && i.Season == Season).ToList().Select(i => i.CourseSequenceId );

                <tr>
                    <th>Year @item.Year - @item.Season - @Html.ActionLink("Add Course", "EditProgram", new {programId = Model.ProgramId, season = Season, year = Year})</th>
                </tr>
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                    <th>Credit</th>
                </tr>
            }            
            if (item.Course != null)
            {
                <tr>                   
                    <td>@item.Course.CourseLetters @item.Course.CourseNumber</td>
                    <td>@item.Course.Title</td>
                    <td>@item.Course.Credit</td>                    
                </tr>
            }
            else
            {
                <tr>
                    <td>@item.ElectiveType</td>
                </tr>
            }

        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProgramId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
