@model Schedulator.Models.ProgramManagementViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.CreditsRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.CreditsRequirement)
        </dd>

    </dl>
</div>

<div>
    <h4>Courses</h4>
    <hr />
  @foreach (var element in Model.Courses)
  {
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => element.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => element.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => element.CourseLetters)
        </dt>

        <dd>
            @Html.DisplayFor(model => element.CourseLetters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => element.CourseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => element.CourseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => element.SpecialNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => element.SpecialNote)
        </dd>
    </dl>
      <br />
  }
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Program.ProgramId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
