@model IEnumerable<Schedulator.Models.Program>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditsRequirement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditsRequirement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgramId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgramId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgramId })
        </td>
    </tr>
}

</table>
