@model Schedulator.Models.Progression
@{
    ViewBag.Title = "Progression Chart";
}

<h1>Progression Chart</h1>
@{
    <ul class="list-group">


        @foreach (var course in Model.ProgessionUnitList)
        {
            if (course.ProgressType == Schedulator.Models.ProgressType.IncompleteCourse)
            {

                if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.None)
                {
                    <li class="list-group-item list-group-item-warning">
                        
                            @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseLetters) @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseNumber)
                        
                    </li>
                }
                else if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.GeneralElective)
                {
                    <li class="list-group-item list-group-item-warning">
                        General Elective
                    </li>
                }
                else if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.BasicScience)
                {
                    <li class="list-group-item list-group-item-warning">
                        Basic Science
                    </li>
                }
                else if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.MathElective)
                {
                    <li class="list-group-item list-group-item-warning">
                        Math Elective
                    </li>
                }
                if (course.CourseSequence.OtherOptions.Count() != 0)
                {
                    <li class="list-group-item list-group-item-warning">
                        Technical Elective Option
                        <ul>
                            @{
                    foreach (var option in course.CourseSequence.OtherOptions)
                    {
                        if (option.Course != null)
                        {
                            <li>@Html.DisplayFor(modelItem => option.Course.CourseLetters) @Html.DisplayFor(modelItem => option.Course.CourseNumber)</li>
                        }
                    }
                            }
                        </ul>
                    </li>
                }

            }
            else if (course.ProgressType == Schedulator.Models.ProgressType.InProgressCourse)
            {
                <li class="list-group-item list-group-item-info">
                    @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseLetters) @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseNumber)
                </li>
            }
            else if (course.ProgressType == Schedulator.Models.ProgressType.CompletedCourse)
            {
                <li class="list-group-item list-group-item-success">
                    @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseLetters) @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseNumber)
                </li>
            }
        }
    </ul>
}
