@model Schedulator.Models.Progression
@{
    ViewBag.Title = "Progression Chart";
}
@using Microsoft.AspNet.Identity
<h2>Progression Chart</h2>

@{
    foreach (var course in Model.ProgessionUnitList)
    {
        if (course.ProgressType == Schedulator.Models.ProgressType.IncompleteCourse)
        {
            <div class="panel panel-danger">
                <div class="panel-heading">
                   @{
                       if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.None)
                       {   
                            <h3 class="panel-title">@Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseLetters) @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseNumber)</h3>
                       }
                       else if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.GeneralElective)
                       {
                           <h3 class="panel-title">General Elective</h3>
                       }
                       else if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.BasicScience)
                       {
                            <h3 class="panel-title">Basic Science</h3>
                       }
                       else if (course.CourseSequence.ElectiveType == Schedulator.Models.ElectiveType.MathElective)
                       {
                            <h3 class="panel-title">Math Elective</h3>
                       }
                       if (course.CourseSequence.OtherOptions.Count() != 0)
                       {
                           <span>Technical Elective Option</span>
                            <ul>
                                @{
                                    foreach (var option in course.CourseSequence.OtherOptions)
                                    {
                                        if (option.Course != null)
                                        {
                                          <li>@Html.DisplayFor(modelItem => option.Course.CourseLetters) @Html.DisplayFor(modelItem => option.Course.CourseNumber)</li>  
                                        }
                                    }
                                }
                            </ul>
                       }
                    } 
                </div>
            </div>
        }
        else if (course.ProgressType == Schedulator.Models.ProgressType.InProgressCourse)
        {
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseLetters) @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseNumber)</h3>
                </div>
            </div>
        }
        else if (course.ProgressType == Schedulator.Models.ProgressType.CompletedCourse)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseLetters) @Html.DisplayFor(modelItem => course.CourseSequence.Course.CourseNumber)</h3>
                </div>
            </div>
        }
    }
}
